.forgot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e5efff;
  }
  
  .forgot-box {
    background: white;
    padding: 30px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    text-align: center;
  }
  
  .forgot-box h1 {
    margin-bottom: 20px;
    color: #0068ff;
  }
  
  .forgot-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forgot-box button {
    width: 100%;
    padding: 12px;
    background-color: #0068ff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .forgot-box button:hover {
    background-color: #0051cc;
  }
  